
body
{
  background : rgb(85,85,85);
  color      : rgb(187,187,187);
}

h1
{
  font-size : 24px;
}

h2
{
  font-size : 20px;
}

a
{
  color           : rgb(187,187,187);
  font-weight     : bold;
  text-decoration : none;
}

a:hover
{
  color : rgb(255,255,255);
}

div#footer
{
  width      : 100%;
  text-align : right;
  position   : relative;
  top        : 15px;
}

div.infinitem
{
  display : block;
  width   : 0px;
  height  : 0px;
}

div#header
{
  position   : absolute;
  left       : 0px;
  top        : 0px;
  right      : 0px;
  height     : 30px;
  background : rgb(51,51,51);
}

div#reihe
{
  left          : 200px;
  top           : 0px;
  height        : 30px;
  padding-right : 30px;
}

div#logoWrapper
{
  background : rgb(51,51,51);
  position   : absolute;
  z-index    : 10000;
  left       : 0px;
  top        : 0px;
  width      : 180px;
  padding    : 10px 10px 10px 10px;
  height     : auto;
}

div#logoWrapper img#logo
{
  width  : 100%;
  height : auto;
}

@media screen and (min-width: 969px)
{
div#logoWrapper
{
  left        : 50%;
  margin-left : -480px;
}

}
div#reihe,
div#spalte
{
  position : absolute;
  z-index  : 1000;
}

div#spalte
{
  display : block;
  left    : 0px;
  top     : 0px;
  bottom  : 0px;
  width   : 200px;
  padding : 0px 0px 0px 0px;
}

div#spalte ul#navigation > li,
div#spalte div#spalteFill2
{
  margin-top : 10px;
}

div#spalte ul#navigation > li,
div#spalte div#spalteFill1,
div#spalte div#spalteFill2
{
  width : 200px;
}

div#spalte ul#navigation > li,
div#spalte div#spalteFill1,
div#spalte div#spalteFill2,
div#spalte ul.galmenu > li,
div#spalte ul.submenu > li
{
  display    : block;
  background : rgb(51,51,51);
}


div#spalte ul#navigation li
{
  position       : relative;
  vertical-align : middle;
  line-height    : 30px;
}

div#spalte ul#navigation > li
{
  height : 30px;
}

div#spalte ul#navigation > li a
{
  display : block;
  width   : 170px;
  height  : 100%;
  padding : 0px 0px 0px 30px;
}

div#spalte ul#navigation > li ul.submenu
{
  visibility         : hidden;
  opacity            : 0;
  -webkit-transition : visibility 0.0s linear 0.2s,opacity 0.2s linear 0.0s;
  -moz-transition    : visibility 0.0s linear 0.2s,opacity 0.2s linear 0.0s;
  -ms-transition     : visibility 0.0s linear 0.2s,opacity 0.2s linear 0.0s;
  -o-transition      : visibility 0.0s linear 0.2s,opacity 0.2s linear 0.0s;
  transition         : visibility 0.0s linear 0.2s,opacity 0.2s linear 0.0s;
  position           : absolute;
  left               : 205px;
  top                : -10px;
  padding-top        : 10px;
  padding-bottom     : 10px;
  background         : rgb(51,51,51);
}

div#spalte ul#navigation > li ul.submenu
{
  width : 150px;
}

div#spalte ul#navigation > li ul#galmenu
{
  width : 450px;
}

div#spalte ul#navigation > li ul#galmenu li
{
  width : 150px;
}


div#spalte ul#navigation > li ul#galmenu li li a
{
  font-weight : normal;
}

div#spalte ul#navigation > li ul#galmenu a
{
  width : 120px;
}

@media screen and (max-width: 659px)
{
div#spalte ul#navigation > li ul#galmenu
{
  width : 300px;
}

@media screen and (max-width: 509px)
{
div#spalte ul#navigation > li ul#galmenu
{
  width : 150px;
}

}
}
div#spalte ul#navigation > li ul#galmenu > li
{
  float : left;
}

div#spalte ul#navigation > li:hover
{
  width : 206px;
}

div#spalte ul#navigation > li:hover ul
{
  visibility       : visible;
  opacity          : 1;
  transition-delay : 0.0s;
}

div#spalte div#spalteFill1
{
  height : 200px;
}

@media screen and (min-height: 600px)
{
div#spalte div#spalteFill1
{
  height : 300px;
}

}
div#spalte div#spalteFill2
{
  height : 100%;
}



div#spalte ul#navigation li.active a
{
  color : rgb(248,214,135);
}



div#spalte ul#navigation li.active a:hover
{
  color : rgb(255,255,255);
}

@media screen and (min-width: 969px)
{
div#spalte
{
  left        : 50%;
  margin-left : -480px;
}

}
@media screen and (min-height: 450px)
{
div#spalte
{
  position : fixed;
}

}
div#reihe
{
  top          : 0px;
  left         : 200px;
  padding-left : 30px;
  line-height  : 30px;
  display      : block;
  background   : rgb(51,51,51);
  display      : none;
}

@media screen and (min-width: 969px)
{
div#reihe
{
  left        : 50%;
  margin-left : -280px;
}

}
@media screen and (min-height: 450px)
{
div#reihe
{
  position : fixed;
}

}

body.text div#super
{
  position : absolute;
  top      : 0px;
  left     : 0px;
  width    : 100%;
}

body.text div#super div#content
{
  background : rgb(68,68,68);
  position   : absolute;
  top        : 10px;
  left       : 210px;
  padding    : 30px 30px 30px 30px;
  min-height : 200px;
}

body.text div#super div#content li
{
  list-style-type : disc;
}

@media screen and (max-width: 969px)
{
body.text div#super div#content
{
  right : 0px;
}

}
@media screen and (min-width: 969px)
{
body.text div#super div#content
{
  width : 596px;
}

}
@media screen and (min-width: 969px)
{
body.text div#super
{
  width       : 960px;
  left        : 50%;
  margin-left : -480px;
}

}

body.maximize div#reihe
{
  display : block;
}

body.maximize div#super,
body.maximize div#imageOverlay
{
  position : absolute;
  top      : 0px;
  right    : 0px;
  bottom   : 0px;
  left     : 0px;
}

body.maximize div#super > img
{
  max-height   : 100%;
  max-width    : 100%;
  margin-left  : auto;
  margin-right : auto;
  display      : table;
}

body.maximize div#spalte
{
  visibility         : hidden;
  opacity            : 0;
  -webkit-transition : visibility 0.0s linear 0.2s,opacity 0.2s linear 0.0s;
  -moz-transition    : visibility 0.0s linear 0.2s,opacity 0.2s linear 0.0s;
  -ms-transition     : visibility 0.0s linear 0.2s,opacity 0.2s linear 0.0s;
  -o-transition      : visibility 0.0s linear 0.2s,opacity 0.2s linear 0.0s;
  transition         : visibility 0.0s linear 0.2s,opacity 0.2s linear 0.0s;
}


body.maximize div#header:hover div#spalte
{
  visibility       : visible;
  opacity          : 1;
  transition-delay : 0.0s;
}


/* Generated with Clay, http://fvisser.nl/clay */