/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/
@font-face {font-family:"DejaVu Sans";
    src:url("font/DejaVuSans.eot?") format("eot")
    ,url("font/DejaVuSans.woff") format("woff")
    ,url("font/DejaVuSans.ttf") format("truetype")
    ,url("font/DejaVuSans.svg#DejaVuSans") format("svg");
    font-weight:normal;
    font-style:normal;
}
@font-face {font-family:"Decker";
    src:url("font/Decker.eot?") format("eot")
    ,url("font/Decker.woff") format("woff")
    ,url("font/Decker.ttf") format("truetype")
    ,url("font/Decker.svg#") format("svg");
    font-weight:normal;
    font-style:normal;
}


