@font-face {
    font-family:"Decker";
    src:url("font/Decker.eot?") format("eot")
    ,url("font/Decker.woff") format("woff")
    ,url("font/Decker.ttf") format("truetype")
    ,url("font/Decker.svg#") format("svg");
    font-weight:normal;
    font-style:normal;
}


@font-face {
    font-family: "GlacialIndifference";
    src: url("font/GlacialIndifference-Regular.otf") format("opentype");
}

body {
    font-family: "GlacialIndifference", "Helvetica", sans-serif;
}

